

/* Navigation */
nav {
    margin-top: 30px;
    margin-bottom: 50px;
}



/* Registration Form */
#registrationForm {
    border: 2px solid black;
}

#registrationForm {
    margin: 0 auto;
    width: 550px;
}

.all {
    padding-left: 50px;
    margin-top: 50px;
}

.individual {
    margin-bottom: 30px;
}

.individual #email {
    margin-left: 10%;
    width: 64%;
}

.individual #username {
    margin-left: 7%;
    width: 64%;
}

.individual #password {
    margin-left: 8%;
    width: 64%;
}

.individual #repassword {
    margin-left: 22px;
    width: 64%;
}

.individual #submit {
    margin-left: 112px;
    width: 150px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

#email-error{
    color: red;
    padding-left: 23%;
    padding-top: 2px;
}
#username-error{
    color: red;
    padding-left: 23%;
    padding-top: 2px;
}
#password-error{
    color: red;
    padding-left: 23%;
    padding-top: 2px;
}
#repassword-error{
    color: red;
    padding-left: 23%;
    padding-top: 2px;
}

/* Page 2 */

.individual #number1 {
    margin-left: 7%;
    width: 50%;
}

.individual #number2 {
    margin-left: 7%;
    width: 50%;
}

.individual #number3 {
    margin-left: 11%;
    width: 30%;
}

.button-row{
    margin-bottom: 25px;
    /* margin-left: 20px; */
}

.button-row #sub{
    margin-left: 10px;
}

.button-row #mul{
    margin-left: 10px;
}

.button-row #div{
    margin-left: 10px;
}

#number1-error{
    color: red;
}
#number2-error{
    color: red;
}