footer {
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40%;
        justify-content: center;
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 400;
    }

    p {
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-family: 'Noto Sans', sans-serif;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100px;
            width: 165px;
        }
    }
}